{% include navigation-manual.html %}

<header class="expanded row smallheader" data-interchange="[https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-small.png, small], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-medium.png, medium], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-large.png, large], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-xlarge.png, x-large]">
    <div class="row">&nbsp;
    </div>
</header>
{% include breadcrumbs.html %}