{% include navigation-manual.html %}

        <div class="large-12 columns">
          <div id="homepage" style="min-width: 100% !important; max-width: 100% !important;" {% if page.header_image %}style="background-image: url('{{ page.header_image }}');"{% else %} data-interchange="[https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-small.png, small], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-medium.png, medium], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-large.png, large], [https://personal-portfolio-chrissybranso.c9users.io/assets/img/aurora-xlarge.png, x-large]" {% endif %}>
            <div class="row expanded main">
              <button class="menu-icon" type="button" data-open="offCanvas"></button>
              <h1 class="header-large text-left">Christina Branson</h1>
              <h2 class="header-sub text-left">I'm a freelance full-stack web developer based in Philadelphia, PA.</h2>
            </div>
            <div class="row expanded main" data-equalizer data-equalize-on="medium">
              <div class="large-4 columns text-center">
                <a href="/about/" class="homepagebutton" data-equalizer-watch>More About Me <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
              <div class="large-4 columns text-center">
                <a href="/portfolio/" class="homepagebutton" data-equalizer-watch>See My Portfolio <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
              <div class="large-4 columns text-center">
                <a href="/hire-me/" class="homepagebutton" data-equalizer-watch>Hire Me! <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
