        <span class="post-meta">
            {% if site.name %}
              <i class="fa fa-pencil"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.name }}</span></span>
            {% endif %}
            {% if post.date %}
              <i class="fa fa-calendar"></i> <span itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</span>
            {% elsif page.date %}  
              <i class="fa fa-calendar"></i> <span itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>
            {% endif %}
            {% if post.categories[0] %}
              <i class="fa fa-folder-o"></i>
              {% for category in post.categories %}
                <a class="post-link" href="{{ site.baseurl }}/blog/category/{{category}}">{{category}}</a> 
              {% endfor%}
            {% elsif page.categories[0] %}
              <i class="fa fa-folder-o"></i>
              {% for category in page.categories %}
                <a class="post-link" href="{{ site.baseurl }}/blog/category/{{category}}">{{category}}</a> 
              {% endfor%}
            {% endif %}
        </span>