/* General Settings */

body {
  background: #fff;
  font-family: 'Cantarell';
}

.off-canvas-wrapper-inner, .off-canvas{
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One';
}

.columns {
  padding: 0px;
}

.main {
  padding: 20px;
}



/* Off Canvas */

.off-canvas-content {
  box-shadow: none;
}


.ocvert {
  background: #fff;
  box-shadow: inset 2px 2px 10px 1px #eee;
}

.ocvert li a:hover {
  color: #000;
}

.ocvert li a:hover::after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
}


/* Home Page */

#homepage {
  background: #eee;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  border-right: 1px solid #aaa;
  box-shadow: 2px 2px 10px 1px #ccc;
}

@media only screen and (min-width: 64.063em) { 
  #homepage {
  max-width:50%;
  position: fixed;
  }
}

.header-large {
  font-size: 6em;
  margin: 50px 0px 10px 0px;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  line-height: 100%;
  letter-spacing: -.01em;
}

.header-sub {
  font-size: 3em;
  font-family: 'Fjalla One';
  text-align: left;
  vertical-align: middle;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  display: block;
  line-height: 100%;
  letter-spacing: -.02em;
  margin: 10px 0px 50px 0px;
}

.homepagebutton {
  display: block;
  width: 74%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.25em;
  padding: 10px;
  background: rgba(0,0,0,0.2);
}

.homepagebutton:hover {
  border: 1px solid #fff;
  color: #fff;
  background: rgba(0,0,0,0.4);
}

.menu-icon {
    background: rgba(0,0,0,0.2);
}

/* Lists */

ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

article ul,
article li {
  margin: 0px;
  margin-left: 1.4em; /* same as padding-left set on li */
}




#resume li, article li {
  padding-left: 1.5em;
  display: block;
}
#resume li:before, article li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.4em; /* same as padding-left set on li */
  width: 1.5em; /* same as padding-left set on li */
  position: absolute;
}

#resume li:hover {
  background: #eee;
}

.orbit li {
  padding: 0px;
}

.orbit li::before {
  content: ""; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
}

/* Section */

section {
  margin: 50px 0px;
}


/* Blog Section */

.post-meta {
  font-size: .8em;
}

.post-meta i {
  padding: 1px 5px 1px 10px;
}

#blog figure {
  width: 100%;
  background: #eee;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  border: 1px solid #ccc;
}

#blog figure .caption {
  font-size: .8em;
  font-style: italic;
}

#blog p {
  text-indent: 10px;
}

/* Footr */
footer {
  margin-top: 50px;
}